*{
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   border: border-box;
}

.navbar{
   height: 50px;
   background-color: #0f1111;
   color: white;
   display: flex;
   align-items: center;
}

.nav-logo{
   height: 50px;
   width: 100px; 
}

.logo{
 height: 47px;
 width: 100%;
 background-image: url("amazon_logo.png");
 background-size: cover;
}

.border{
 border: 1.5px solid transparent;
}

.border:hover{
 border: 1.5px solid white;
}

/** Box 2 **/


.add-one{
 color: #cccccc;
 font-size: 0.85rem;
 margin-left: 15px;
}

.add-two{
 color: #ffffff;
 font-size: 1rem;
 margin-left: 3px;
}

.location{
 display: flex;
}

/** Box 3 **/

.nav-search{
 margin-left: 5px;
 display: flex;
 justify-content: space-evenly;
 width: 530px;
 height: 40px;
 border-radius: 4px;
}

.search-select{
 background-color: #f3f3f3;
 width: 50px;
 border: none;
 text-align: center;
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
}

.search-input{
 width: 100%;
 font-size: 1rem;
}

button{
 width: 45px;
 font-size: 1.2rem;
 color: #0f1111;
 background-color: #febd68;
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
 border: none;
 
}

/** Box 4 **/

.nav-signin{
 margin: 0px 10px;
}

.nav-returns{
 margin-right: 10px;
}

.nav-first{
 font-size: 0.75rem;
}

.nav-second{
 font-size: 0.85rem;
 font-weight: 700;
}

.nav-search:hover{
 border: 2px solid orange;
}

.nav-cart i{
 font-size: 30px;
}

.nav-cart{
 font-size: 0.85rem;
 font-weight: 700;
}

/** Panel **/

.panel{
 display: flex;
 background-color: #222f3d;
 height: 40px;
 color: whitesmoke;
 align-items: center;
}

.panel-services p {
 display: inline;
 margin-left: 15px;
}

.panel-services{
 width: 70%;
 font-size: 0.85rem;
}

.panel-deals{
 font-size: 0.9rem;
 font-weight: 700;
}

/** Main Content **/

.main-content{
 display: flex;
 justify-content: center;
 align-items: flex-end;
 height: 350px;
 background-image: url(main_img.jpg);
 background-size: cover;
}

.main-note {
 display: flex;
 height: 40px;
 background-color: whitesmoke;
 color: black;
 justify-content: center;
 align-items: center;
 font-size: 14px;
 margin-bottom: 25px;
}

.main-note a {
 color: #007185;
}

/**Variety**/

.variety{
 background-color: #e2e7e6;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}

.box{
 height: 400px;
 width: 23%;
 background-color: white;
 padding: 20px 0px 15px;
 margin-top: 15px;
}

.box-img{
 height: 300px;
 background-size: cover;
 margin-top: 1rem;
 margin-bottom: 1rem;
}

.box-content{
 margin-left: 10px;
 margin-right: 10px;
}

.variety p{
 color: #007185;
}

/** Footer **/

footer{
 margin-top: 15px;
}

.footp1{
 display: flex;
 height:50px;
 background-color: #37475a;
 color: white;
 justify-content: center;
 align-items: center;
 font-size: 0.85rem;
}

.footp2{
 display: flex;
 justify-content: space-evenly;
 background-color: #222f3d;
 color: white;
 height: 410px;
 
}

ul{
 margin: 40px;
}

ul a{
 display: block;
 font-size: 0.85rem;
 margin-top: 10px;
 color: #dddddd;
}

ul p{
 font-weight: 700;
}

.footp3{
 background-color: #222f3d;
 color: #ffffff;
 border-top: 0.5px solid white;
 height: 70px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.logo{
 height: 50px;
 width: 100px;
 background-image: url("amazon_logo.png");
 background-size: cover;
}

.footp4{
 background-color: #0f1111; 
 height: 80px;
 color: white;
 text-align: center;
}

.privacy{
 font-size: 0.7rem;
 padding-top: 25px;
}

.copyright{
 font-size: 0.7rem;
 
 padding-top: 4px;
}
